<header class="site-profile">
  <h1><a href="{{ '/' | relative_url }}">{{ site.author.name }}</a></h1>

  <nav class="profile-navigation" aria-label="Primary navigation">
    {% for item in site.data.navigation %}
      <a class="nav-button" href="{{ item.url | relative_url }}">{{ item.label }}</a>
    {% endfor %}
  </nav>

  <div class="portrait-frame">
    <img src="{{ '/assets/images/desmond-kofi-boateng.jpg' | relative_url }}" alt="Desmond Kofi Boateng">
  </div>

  <p class="profile-details">
    PhD Student<br>
    <a href="https://www.boisestate.edu/computing/">School of Computing</a><br>
    <a href="https://www.boisestate.edu/computing/phd-computing/">Computing PhD Program</a><br>
    <a href="https://www.boisestate.edu/">Boise State University</a><br>
    Boise, Idaho, USA<br>
    <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
  </p>
</header>
